# don't open yourself up to the internets
local_interfaces = <; [127.0.0.1]:25 ; [::1]:25

# sender must be an ses sender, any recipients are good
acl_not_smtp = acl_ses_users
acl_smtp_mail = acl_ses_users
acl_smtp_rcpt = acl_accept_any

ignore_bounce_errors_after = 1d
timeout_frozen_after = 7d

# add your sending user here if the sender name needs to be forced
trusted_users = root : some_local_user

begin acl

acl_ses_users:
	discard
		senders = :
		logwrite = :main,reject: absorbing bounce
	accept
		senders = lsearch;/etc/exim4/ses.senders
		logwrite = :main: forwarding to SES
	deny
		message = "access denied"


acl_accept_any:
	accept

begin routers

ses:
	driver = accept
	transport = ses

begin transports

# make sure to specify your AWS creds below, and remove DEBUG=True unless you want all of the logs in /tmp
ses:
	driver = pipe
	path = /bin:/usr/bin:/usr/local/bin:/opt/local/bin/
	environment = AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX:AWS_SECRET_KEY=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY:DEBUG=True
	command = exim_ses_transport $sender_address $pipe_addresses
	batch_max = 25
	temp_errors = 1 : 2 : 3 : 4 : 6 : 73 : 75
	# 1, 2, 3, and 6 are usually misconfiguration
	# 4 is usually transient
	# 5 and 7 are pretty much always fatal
	# 73 and 75 are some default system specified exits (see sysexit.h), we don't use them for now
	log_fail_output
	log_defer_output

begin retry

*	*	F,2h,15m; G,16h,1h,1.5; F,5d,8h

begin authenticators

